<div class="row">
    <div class="col-md-8">
        <div data-id="{{_id}}">
            <h3>Title: {{title}}</h3>
            <p>Summary: {{summary}}</p>
            <a href="https://www.nytimes.com/{{link}}" target="_blank">View Article</a>
        </div>
    </div>
    <div class="col-md-4">
        <button type="button" data-id="{{_id}}" class="btn btn-primary add-comment">Add/View Comments</button>
    </div>
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Comments for: {{title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-10">
                        {{#if comment}}
                        {{#each comment}}
                        <p>Previous comments: {{commentBody}}</p>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-danger delete-comment" data-id={{_id}}
                                data-article-id={{article}}>X</button>
                        </div>
                        {{/each}}
                        {{else}}
                        <p>No comments yet.</p>
                        {{/if}}
                    </div>
                </div>
                

                <div class="form-group">
                    <textarea id="new-comment" data-id="{{_id}}" class="form-control" rows="4"
                        placeholder="New Comment"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary submit-comment" data-id="{{_id}}">Add Comment</button>
            </div>
        </div>
    </div>
</div>