<div class="card" data-id="{{id}}">
    <h5 class="card-header">{{title}}</h5>
    <div class="card-body">
        <p class="card-text">{{summary}}</p>
        <a href="https://www.nytimes.com{{link}}" target="_blank" class="btn btn-secondary btn-sm">View Article</a>
        <button type="button" data-id="{{_id}}" class="btn btn-info btn-sm add-comment">Add/View
            Comments</button>
        <button type="button" data-id="{{_id}}" class="btn btn-dark btn-sm delete-article">Delete</button>
    </div>
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Comments for: {{title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{#if comment}}
                <p>Previous Comments:</p>
                {{#each comment}}
                    <p class="comments"><button type="button" class="btn btn-dark btn-sm delete-comment"
                            data-id={{_id}}>Delete</button>{{commentBody}}</p>
            
                {{/each}}
                {{else}}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>No comments yet.</p>
                    </div>
                </div>
                {{/if}}
                <div class="form-group">
                    <textarea id="new-comment" data-id="{{_id}}" class="form-control" rows="4"
                        placeholder="New Comment"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info submit-comment" data-id="{{_id}}">Add Comment</button>
            </div>
        </div>
    </div>
</div>